<div class="inputs">
  <%= f.input :name, :label => "List name", :required => true %>
  <%= f.input :private, :hint => "no one can see this list if private is marked" %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

  <div class="page-header">
    <h5>Tasks</h5>
  </div>

  <div id="tasks-fields">
    <% f.simple_fields_for :tasks do |task_form| %>
      <%= render 'task', :task_form => task_form %>
    <% end %>
  </div>

  <p id="add-task"><%= add_task_link(f) %></p>
</div>
