<div class="page-header">
  <h2>Lists</h2>
</div>

<% if collection.any? %>
  <table class='zebra-striped'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |resource| %>
        <tr>
          <td><%= link_to resource.name, resource, :title => resource.name %></td>
          <td>
            <%= link_to 'Edit', edit_resource_path(resource), :title => "Edit" %> |
            <%= link_to 'Destroy', resource, :method => :delete, :confirm => 'Are you sure?', :title => "Destroy" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You dont have any list. Create a new one clicking <%= link_to 'here', new_list_path %></p>
<% end %>

<%= paginate collection %>
