<div class="page-header">
  <h2>New list</h2>
</div>

<%= simple_form_for(resource) do |f| %>
  <%= f.error_notification %>

  <%= render 'form', :f => f %>

  <div class="actions">
    <%= f.button :submit, "Create", :class => 'btn' %>
    or <%= link_to "cancel", lists_path, :title => "Cancel" %>
  </div>
<% end %>
