<div id="list">
  <div class="page-header">
    <h2><%= resource.name %> <small><%= resource.private ? 'Private' : 'Public' %></small></h2>
  </div>

  <div class='tasks'>
    <% resource.tasks.each do |task| %>
      <div id="<%= dom_id task %>" class="task clearfix <%= 'done' if task.done? %>">
        <p class="description"><%= task.description %></p>
        <%= link_to '#', task.done ? list_undone_task_path(resource, task) : list_done_task_path(resource, task), :method => :put, :remote => true %>
      </div>
    <% end %>
  </div>
</div>
