<div id="list">
  <div class="page-header">
    <h2><%= resource.name %> <small><%= resource.private ? 'Private' : 'Public' %></small></h2>
  </div>

  <div id='tasks'>
    <% resource.tasks.each do |task| %>
      <div id="<%= dom_id task %>" class="task clearfix <%= 'done' if task.done? %>">
        <p class="description"><%= task.description %></p>
        <%= link_to '#', task.done ? undone_list_task_path(resource, task) : done_list_task_path(resource, task), :method => :put, :remote => true %>
      </div>
    <% end %>
  </div>

  <p class="action"><%= link_to "Edit this list", edit_list_path(resource), :title => "Edit this list" %></p>
  <p class="back"><%= link_to "<< Back", lists_path, :title => "Back" %></p>
</div>
